<div class="container" *ngIf="AuthService.isLogged | async">
    <div class="carousel slide" id="main-carousel" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#main-carousel" data-slide-to="1"></li>
        <li data-target="#main-carousel" data-slide-to="2"></li>
        <li data-target="#main-carousel" data-slide-to="3"></li>
      </ol>
      <!-- carrusel de montaña-->
  
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            [src]="'assets/img/slider5.jpg'"
            class="d-block img-fluid"
            alt=""
          />
        </div>

        <div class="carousel-item">
          <img
            [src]="'assets/img/slider3.jpg'"
            class="d-block img-fluid"
            alt=""
          />
        </div>
        <div class="carousel-item">
          <img
            [src]="'assets/img/slider8.jpg'"
            alt=""
            class="d-block img-fluid"
          />
        </div>
      </div>
      <!--cierra crruseñl -->
  
      <a href="#main-carousel" class="carousel-control-prev" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        <span class="sr-only" aria-hidden="true">Prev</span>
      </a>
      <a href="#main-carousel" class="carousel-control-next" data-slide="next">
        <span class="carousel-control-next-icon"></span>
        <span class="sr-only" aria-hidden="true">Next</span>
      </a>
    </div>
    <div class="blog-info">
      <h2 class="blog-info__title"> <a >¿Experiencia Laboral?</a></h2>
      <h5 class="blog-info__author">Por <a  class="ae-u-bolder">Carlos</a></h5>
      <p class="blog-info__excerpt">Tener experiencia laboral se ha convertido en uno de los requisitos indispensables para conseguir un empleo, sin embargo, como jóvenes estudiantes sabemos que gran parte de esta experiencia la obtendremos o cuando menos probaremos el misterioso mundo laboral.</p>
      <p class="blog-info__excerpt">Este proyecto tiene el enfoque de darte a conocer las experiencias de compañeros que han pasado por las distintas empresas, de esta manera podrás ver qué empresa crees que te dará la experiencia que quieres para tus futuros trabajos.</p>
    </div>
    <div class="blog-info">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/tAvWwgqsaJI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    
  </div>
  
  