<div class="col-md-6">
    <div class="card">
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="box">
        <h1>Login</h1>
        <p class="text-muted">Cuenta  tu experiencia accede a tu cuenta</p>
  
        <input 
        type="email" 
        formControlName="Email"
        placeholder="Correo Electronico" required
        />
  
        <input 
        type="password" 
        formControlName="Contrasena"
        placeholder="Contraseña"
        required
        />
        
        <button class="btn btn-outline">
          Acceder
        </button>
        
        
        <div class="col-md-12">
          <a class="forgot text-muted" href="#">Olvidaste tu contraseña?</a>
        </div>
      </form>
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  