<div class="container">
    <div class="card mb-3" style="width: 100%; border-width: 0px; margin-top: 200px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img [src]="'assets/img/logo.jpeg'" class="card-img" alt="..." style="margin-top: 10px;">
            </div>
            <div class="col-md-8">
                <div class="card-body">
    
                    <h4 class="card-title">QUIENES SOMOS</h4>
                    <br>
                    <p class="card-text" style="text-align: justify; font-size: 20px; font-weight: bold;">
                        Somos la Mejor Universidad de la Sierra Norte del Estado de Puebla, siempre pensando en tu educación y preparación profesional, hemos hecho alianzas con diferentes empresas para que puedas realizar tu estadía en el sexto y onceavo cuatrimestre de la carrera esto con el fin de desarrollar tus habilidades obtenidos durante la carrera a nivel TSU e Ingeniería en el ámbito laboral.
TELL ME MORE te facilitara a tener una mejor visión de las estadías a partir de diferentes comentarios de exalumnos que ya pasaron por esta experiencia a través de un foro, obteniendo así información valiosa para la toma de una de las decisiones más importantes que harás en tu vida, que es en que empresa desarrollaras tu estadía.
Pero si eres un alumno que ya paso por esta hermosa experiencia no lo dudes y regístrate para que puedas compartirnos cada detalle de tu estancia en la empresa y la realización de tu proyecto.

                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
 
    <section id="contact" data-stellar-background-ratio="0.5">
        <div class="container">
             <div class="row">
                  
                  <div class="wow fadeInUp col-md-12" data-wow-delay="0.4s">
                   <h1>Visitanos Aqui:</h1>
                       <div id="google-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3743.5072774278124!2d-97.95976858550114!3d20.23778598643216!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d08602491e37a1%3A0x4bbea4aede57d500!2sUniversidad%20Tecnol%C3%B3gica%20de%20Xicotepec%20de%20Ju%C3%A1rez!5e0!3m2!1ses-419!2smx!4v1618759900494!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                       </div>
                  </div>              
             </div>
        </div>
    </section>
    <br>